*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    place-items: center;
    background-color: rgb(237, 250, 255);
}
h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:beige;
    border-radius: 10px;
    box-shadow: 15px 15px black;
    font-size: 50px;
    margin: 30px 0 30px 0;
    padding: 15px;
    border: 8px solid rgb(139, 139, 128);
    border-radius: 20px;
    font-weight: 700;
    color:rgb(77, 40, 112);
}
h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:beige;
    padding:10px;
    border-radius: 10px;
    box-shadow: 10px 10px black;
}
.board{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border: 10px outset rgb(53, 5, 61);
    box-shadow: 15px 15px rgb(63, 63, 63);
    border-radius: 10px;
    width: 700px;
    background-color: rgb(195, 146, 211);
}
ul{
    display: grid;
    place-items:center;
}
ul p{
    margin:10px;
    width: 75px;
    height:75px;
    border-radius: 100px;
    background-color: white;
}
ul:hover{
    cursor:pointer;
    background-color: rgb(146, 121, 158);
}